{{> tophead }}

<div class="header_loggedin">
  <div class="left">
    <a href="/">Inicio</a>
  </div>
  <div class="right">
    <a href="/profile/{{ session.username }}">Perfil</a>
    <a href="/logout">Cerrar sesión</a>
  </div>
</div>
