{{> nHeader}}

<div class="notes_wrapper">
    <div class="welcome_div error_div">
        <div class="error_info">
            <span>Vaya, la página que estás buscando no existe.!!</span>
        </div>
        <img src="/images/error-3.svg" alt="">
        <div class="error_bottom">
            <a href="/welcome" class="sec_btn error_home">Inicio</a>
            <a href="/login" class="pri_btn error_login">Iniciar sesión</a>
        </div>
    </div>
</div>

{{> footer}}
