{{> nHeader }}

<div class="notes_wrapper">
    <div class="log_sign">
        <a href="/signup" class="pri_btn">Registrarte</a>
    </div>

    <div class="register cua " >
        <div class="display_text">
        <span>Inicia sesión</span>
        </div>
        <form class="form_login" >
            <input type="text" name="username" value="" class="l_username" autofocus required spellcheck="false" autocomplete='false' placeholder='Usuario'>
            <input type="password" name="password" value="" class="l_password" required placeholder='Contraseña'>
            <input type="submit" name="" value="Entrar" class="l_submit">
        </form>
    </div>
</div>

{{> footer }}
