{{> nHeader }}

<div class="notes_wrapper">
  <div class="welcome_div">
    <div class="containerCenter">
      <div>
        <img src="/images/logoUca.png" alt="UCA">
      </div>
      <div>
        <h2>(k)-UCA </h2>
        <p>Peojecto de Sistemas Distribuidos </p>
        <ul>
          <li>Byron Rocha</li>
          <li>Oliver Motalvan</li>
          <li>Carlos Cajina</li>
          <li>Cesar Quezada</li>
          <li>Luigi</li>
          <li>Stephan</li>
          <li>Steven </li>
        </ul>
      </div>
    </div>


  </div>
</div>

{{> footer }}
